importFrom("stats","start")
importFrom("stats","end")
importFrom("stats","frequency")
importFrom("stats","time")
importFrom("stats","aggregate")

export("classed")
export("seqN")
export("earliestEnd")

export("earliestEndIndex")
S3method("earliestEndIndex","default")
S3method("earliestEndIndex","tframe")

export("earliestStart")
export("earliestStartIndex")
S3method("earliestStartIndex","default")
S3method("earliestStartIndex","tframe")

export("latestEnd")
export("latestEndIndex")
S3method("latestEndIndex","default")
S3method("latestEndIndex","tframe")

export("latestStart")
export("latestStartIndex")
S3method("latestStartIndex","default")
S3method("latestStartIndex","tframe")

export("tfstart")
S3method("tfstart","default")
S3method("tfstart","tstframe")

S3method("start","tframed")
S3method("start","tframe")

export("tfend")
S3method("tfend","default")
S3method("tfend","tstframe")

S3method("end","tframed")
S3method("end","tframe")

export("tffrequency")
S3method("tffrequency","default")

S3method("frequency","tframed")
S3method("frequency","tframe")

export("Tobs")
S3method("Tobs","default")
S3method("Tobs","tframed")
S3method("Tobs","tframe")

S3method("Tobs","stamped")

export("tftime")
S3method("tftime","default")

S3method("time","tframed")
S3method("time","tframe")

export("as.tframe")

export("tframe")
S3method("tframe","default")
S3method("tframe","ts")

export("tframe<-")
export(tfSet)
S3method("tfSet","default")
S3method("tfSet","tstframe")

export("tframed")
S3method("tframed","default")

export("is.tframe")
export("is.tframed")
S3method("is.tframed","default")
S3method("is.tframed","ts")

export("tfspan")

export("tfplot")
S3method("tfplot","default")

export("tfOnePlot")

export("tfprint")
S3method("tfprint","default")
S3method("tfprint","tframe")

S3method("print","tframe")

export("tfL")
S3method("tfL","default")
S3method("tfL","tframe")

S3method("diff","tframe")
S3method("diff","tframed")

S3method("aggregate","tframed")

export("tfwindow")
S3method("tfwindow","default")
S3method("tfwindow","ts")
S3method("tfwindow","tframe")

export("checktframeConsistent")
S3method("checktframeConsistent","default")

export("testEqual")
S3method("testEqual","default")
S3method("testEqual","array")
S3method("testEqual","list")
S3method("testEqual","matrix")
S3method("testEqual","numeric")

export("testEqualtframes")
S3method("testEqualtframes","default")
S3method("testEqualtframes","stamped")

export("splice")
S3method("splice","default")

export("tfExpand")
S3method("tfExpand","default")
S3method("tfExpand","tframe")

export("tfTruncate")
S3method("tfTruncate","default")
S3method("tfTruncate","tframe")

export("trimNA")
S3method("trimNA","default")

export("nseries")
S3method("nseries","default")

export("seriesNames")
S3method("seriesNames","default")

export("seriesNames<-")
S3method("seriesNames<-","default")
S3method("seriesNames<-","ts")

export("selectSeries")
S3method("selectSeries","default")

export("tbind")
S3method("tbind","default")
S3method("tbind","ts")

export("addDate")

export("diffLog")
S3method("diffLog","default")

export("percentChange")
S3method("percentChange","default")

export("ytoypc")
S3method("ytoypc","default")

export("annualizedGrowth")
S3method("annualizedGrowth","default")

export("tsWrite")
export("tsScan")
