import("tframe")
importFrom("stats","start")
importFrom("stats","end")
importFrom("stats","frequency")
importFrom("stats","time")
importFrom("stats","aggregate")

## not generic
export(
  "TSwriteXLS",
  "rollAggregate",
  "tfI",
  "tfpersp",
  "as.weekly",
  "as.quarterly",
  "as.annually")

S3method("is.tframed","zoo")
##S3method("tfstart","zoo")
S3method("tfstart","zootframe")
##S3method("tfend","zoo")
S3method("tfend","zootframe")
S3method("tfTobs","zootframe")
S3method("Tobs","zootframe")
S3method("tframe","zoo")
S3method("tfSet","zootframe")
S3method("tfwindow","zoo")
S3method("tbind","zoo")

S3method("tfL","zoo")
S3method("tfExpand","zoo")



S3method("is.tframed","xts")
##S3method("tfstart","xts")
S3method("tfstart","xtstframe")
##S3method("tfend","xts")
S3method("tfend","xtstframe")
S3method("tfTobs","xtstframe")
S3method("Tobs","xtstframe")
S3method("tframe","xts")
S3method("tfSet","xtstframe")
S3method("tfwindow","xts")
S3method("tbind","xts")

S3method("tfL","xts")
S3method("tfExpand","xts")


S3method("is.tframed","its")
S3method("tfstart","its")
S3method("tfstart","itstframe")
S3method("tfend","its")
S3method("tfend","itstframe")
S3method("tfTobs","itstframe")
S3method("Tobs","itstframe")
S3method("tframe","its")
S3method("tfSet","itstframe")
S3method("tfwindow","its")
S3method("tbind","its")
S3method("time","its")

#S3method("is.tframed","timeSeries")
##S3method("tfstart","timeSeries")
S3method("tfstart","timeSeriestframe")
##S3method("tfend","timeSeries")
S3method("tfend","timeSeriestframe")
S3method("tfTobs","timeSeriestframe")
S3method("Tobs","timeSeriestframe")
#S3method("tframe","timeSeries")
S3method("tfSet","timeSeriestframe")
#S3method("tfwindow","timeSeries")
#S3method("tbind","timeSeries")

#S3method("tfL","timeSeries")
#S3method("tfExpand","timeSeries")

## S4 methods
exportMethods(
   "is.tframed",
   "tframe",
   "tfwindow",
   "tbind",
   "tfL",
   "tfExpand",
   "seriesNames<-",
   #"Tobs",
   "tfTobs"
   )
