import("tframe")
importFrom("stats","start")
importFrom("stats","end")
importFrom("stats","frequency")
importFrom("stats","time")
importFrom("stats","aggregate")

## not generic
export(
  "TSwriteXLS",
  "rollAggregate",
  "tfI",
  "tfpersp",
  "as.weekly",
  "as.quarterly",
  "as.annually")

S3method("is.tframed","zoo")
##S3method("tfstart","zoo")
S3method("tfstart","zootframe")
##S3method("tfend","zoo")
S3method("tfend","zootframe")
S3method("tfperiods","zootframe")
S3method("periods","zootframe")
S3method("tframe","zoo")
S3method("tfSet","zootframe")
S3method("tfwindow","zoo")
S3method("tbind","zoo")

S3method("tfL","zoo")
S3method("tfExpand","zoo")


S3method("is.tframed","its")
S3method("tfstart","its")
S3method("tfstart","itstframe")
S3method("tfend","its")
S3method("tfend","itstframe")
S3method("tfperiods","itstframe")
S3method("periods","itstframe")
S3method("tframe","its")
S3method("tfSet","itstframe")
S3method("tfwindow","its")
S3method("tbind","its")
S3method("time","its")

