import("EvalEst",
       "GPArotation",
       "dse",
       "setRNG",
       "tframe",
       "tfplot",
       "tsfa")

importFrom("stats", "factanal", "loadings", "sd")

export("estTSF.R2M")
export("estTSF.MCV")

